body {
	font-family: 'gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
		background:#000
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'gotham', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
		'Helvetica Neue', sans-serif;
	font-weight: bold;
}

.announcements {
	background: #008994;
	background: -moz-linear-gradient(top, #008994 0%, #00a8a6 100%);
	background: -webkit-linear-gradient(top, #008994 0%, #00a8a6 100%);
	background: linear-gradient(to bottom, #008994 0%, #00a8a6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#008994', endColorstr='#00a8a6',GradientType=0 );
}
.announcements h5 {
	color: #333;
	margin: 0;
	line-height: 32px;
	padding: 0 1rem;
	font-size: 12px;
	background: rgba(255, 255, 255, 0.5);
}
.announcements .announcement-item {
	color: #fff;
	font-size: 12px;
	line-height: 32px;
	height: 32px;
	flex: 1;
}
.announcements marquee {
	color: #fff;
	font-size: 12px;
	line-height: 32px;
}

.header-contact {
	color: white;
	background: #ff0054;
	background: -moz-linear-gradient(left, #ff0054 0%, #8f0067 100%);
	background: -webkit-linear-gradient(left, #ff0054 0%, #8f0067 100%);
	background: linear-gradient(to right, #ff0054 0%, #8f0067 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0054', endColorstr='#8f0067',GradientType=1 );
}
.header-contact ul {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-contact li {
	display: block;
	flex: 1;
	font-size: 0.5rem;
	text-transform: uppercase;
	line-height: 32px;
}
.header-contact li a {
	display: flex;
	align-items: center;
	color: #fff;
}
.header-contact li a span.text {
	line-height: 1;
	font-weight: bold;
}
.header-contact li a strong {
	display: block;
	font-size: 0.75rem;
}
.header-contact li a img {
	margin-right: 0.5rem;
	max-width: 20px;
}
.header-contact li a img + img {
	margin-left: -0.25rem;
}
.header-contact li a.button {
	margin: 0;
	height: 36px;
	line-height: 36px;
	padding: 0;
	text-align: center;
	display: block;
	border-radius: 0;
	background: rgba(255, 255, 255, 0.5);
	font-size: 0.75rem;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.top-nav {
	background: #000;
}
.top-nav-container {
	position: relative;
}
.info-togel {
	position: absolute;
	right: 0;
	top: 50%;
	margin-top: -18px;
}
.info-togel a {
	display: block;
	border-radius: 4px;
	border: 1px solid #47e4e1;
	font-size: 0.625rem;
	padding: 0.25rem 0.5rem;
	text-transform: uppercase;
}
.info-togel a span {
	display: block;
	line-height: 1.2;
}
.info-togel a strong {
	font-weight: normal;
	text-transform: capitalize;
	color: #fff;
}
.info-togel a span.number {
	font-size: 0.75rem;
}

.navigation {
	background: #000;
}
#mainmenu ul {
	display: flex;
	margin: 0;
	padding: 0;
	justify-content: space-between;
	align-items: center;
}
#mainmenu li {
	display: block;
	font-weight: bold;
	font-size: 0.75rem;
	flex: 1;
	white-space: nowrap;
	position: relative;
}
#mainmenu li a {
	display: block;
	line-height: 40px;
	text-align: center;
	padding: 0 0.5rem;
	color: #fff;
	transition: all ease 0.1s;
}
#mainmenu li:hover > a,
#mainmenu li:focus > a {
	background: #222;
}

#mainmenu ul ul {
	display: none;
	position: absolute;
	background: #000;
	padding: 0;
	min-width: 100%;
	z-index: 98;
}
#mainmenu li:hover ul {
	display: block;
}
#mainmenu li li a {
	padding: 0 1rem;
	text-align: left;
}

#home-banner { 
  background:#000 url(../images/slide-bg.png) no-repeat bottom center;
}

.slide { 
  padding:2rem 0 0;
	min-height:500px;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
	text-align: center
}
.slide .slide-container {
	height:500px;
	display:flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: stretch;
}
.slide img { max-height: 500px; margin:0 auto}

#how-to-play h3 {
	color:#fff;
	font-size:.875rem;
	text-transform: uppercase;
	white-space: nowrap;
	text-align: center;
	margin:0 0 1rem;
	padding:.75rem 1rem;
	background: #ff0054;
	background: -moz-linear-gradient(left, #ff0054 0%, #8f0067 100%);
	background: -webkit-linear-gradient(left, #ff0054 0%, #8f0067 100%);
	background: linear-gradient(to right, #ff0054 0%, #8f0067 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0054', endColorstr='#8f0067',GradientType=1 );
}

.play-steps { 
	padding:1rem 0;
}
.play-step { position: relative;
	text-align: center;
	margin-bottom: 1rem;
}
.play-step h5 {
	margin:0 0 .5rem;
	font-size:1.5rem;
	color:#5dc6cc;
	font-weight:normal;
	text-transform: uppercase	
}
.play-step p {
	color:#fff;
	text-transform: uppercase;
	font-size:.75rem;
	line-height: 1.2;	
	margin-bottom:1.5rem;
}
.play-step .image-module { 
	height:260px;
	position: relative;
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	transition:all ease .3s;
}
.play-step .image-module a {
	position:absolute;
	z-index:5;
	text-indent: -9999px;
	top:0; right:0; bottom:0; left:0;
}
.play-step .img-1 {
	background-image:url(../images/promo-blue-1.png);
}
.play-step .img-1:hover, .play-step .img-1:focus {
	background-image:url(../images/promo-purple-1.png);
}
.play-step .img-2 {
	background-image:url(../images/promo-blue-2.png);
}
.play-step .img-2:hover, .play-step .img-2:focus {
	background-image:url(../images/promo-purple-2.png);
}
.play-step .img-3 {
	background-image:url(../images/promo-blue-3.png);
}
.play-step .img-3:hover, .play-step .img-3:focus {
	background-image:url(../images/promo-purple-3.png);
}

#footer { 
	padding:1rem 0;
	background:#000;
	color:#fff;
	text-align: center;
}
.accepted-payments {
	margin-bottom: 2rem;
}
.accepted-payments h6 {
	color:#d70062;
	font-size:.875rem;
	margin:0;
	text-transform: uppercase;
	font-weight: normal;
}
.accepted-payments p {
	color:#666;
	margin-top:1rem;
	font-size:.875rem;
	text-transform: uppercase
}
.accepted-payments .button{
	text-transform: uppercase;
	margin:0;
	font-size:.875rem;
}
.pay-bank {
	position: relative;
	cursor: pointer;
}
.pay-bank .hover-info {
	display:none;
	position: absolute;
	bottom:50px;
	left:50%;
	transform:translateX(-50%);
	z-index: 5;
	border:1px solid #333;
	background:#000;
	text-align: center;
	padding:.5rem;
	width:300px;
	font-size:.75rem;
	border-radius:4px;
}
.pay-bank .hover-info:before {
	content: "";
	width: 10px;
	height: 10px;
	background: black;
	transform: translateX(-50%) rotateZ(45deg);
	position: absolute;
	left: 50%;
	bottom: -6px;
	border: 1px solid #333;
	border-left: 0;
	border-top: 0;
}
.pay-bank:hover .hover-info, .pay-bank:focus .hover-info {
	display: block;
}

.copyright {
	color:#fff;
	font-size:.75rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	line-height: 1.4;
}