body { font-family: "ProximaNova", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background:#fff url(../images/bg.jpg) no-repeat top center;}
h1,h2,h3,h4,h5,h6 { font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif}

body {   background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…IgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
  background: -moz-linear-gradient(top, #fff 0, #77c9eb 100%, #77c9eb 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0,#fff), color-stop(100%,#77c9eb), color-stop(100%,#77c9eb));
  background: -webkit-linear-gradient(top, #fff 0,#77c9eb 100%,#77c9eb 100%);
  background: -o-linear-gradient(top, #fff 0,#77c9eb 100%,#77c9eb 100%);
  background: -ms-linear-gradient(top, #fff 0,#77c9eb 100%,#77c9eb 100%);
  background: linear-gradient(to bottom, #fff 0,#77c9eb 100%,#77c9eb 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff', endColorstr='#77c9eb',GradientType=0 ); background-position: fixed; background-size:cover;}

.top-nav { height:102px}
.header-login { margin-top:1.25rem; margin-left:2rem;}
.header-login input, .header-login .button { margin-bottom:0;}
.header-login .button { padding:0 1rem; line-height:29px; height:29px; width:112px; color:#000; background:#1660ae; color:#fff; font-size:1rem; text-transform: uppercase; font-weight: bold; letter-spacing: 1px;}
.header-login .field { margin-left:.5rem; position: relative;}
.header-login .captcha { margin-right:.5rem; background:#1660ae; border-radius:4px; overflow: hidden; }
.header-login .captcha img { max-height:29px;}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea { border:none; box-shadow:none; background:#222; color:#fff; font-size:.75rem; padding:0 .5rem; line-height: 29px; height:29px; border:1px solid #444; padding-top:2px}
[type=color]:focus, [type=date]:focus, [type=datetime-local]:focus, [type=datetime]:focus, [type=email]:focus, [type=month]:focus, [type=number]:focus, [type=password]:focus, [type=search]:focus, [type=tel]:focus, [type=text]:focus, [type=time]:focus, [type=url]:focus, [type=week]:focus, textarea:focus { box-shadow:none; border:none; background:#000; border:1px solid #1660ae; color:#1660ae}

.navigation { background:#222}

#mainmenu ul { display:flex; margin:0; padding:0; justify-content: space-between;}
#mainmenu li { display:block; position: relative;}
#mainmenu li a { display:block; color:#fff; font-weight: bold; text-transform: uppercase; font-family: "impact", "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-size:1.5rem; line-height: 38px; transition:all ease .1s;}
#mainmenu li:hover > a, #mainmenu li.active > a, #mainmenu li:focus > a { color:#fff;}
#mainmenu ul ul { display:none; position: absolute; white-space: nowrap; background:rgba(0,0,0,.9); padding:1rem 0; margin-left:0rem; min-width:100%; box-shadow:1px 2px 3px 0 rgba(243, 233, 180, .3); z-index:9877}
#mainmenu li:hover ul { display:block;}
#mainmenu li li a { padding:0 1.5rem; font-size:1.25rem;}
#mainmenu li li:hover > a, #mainmenu li li.active > a, #mainmenu li li:focus > a { text-decoration: underline}

.newsticker { background:#666;}
.newsticker marquee { color:#fff; font-size:.875rem; display:block; line-height:31px; margin:0; font-style:italic; height:31px; }

#content { padding: 1rem 0}
.slideshow { margin-bottom:1rem}
.slideshow .slide img { width:100%; display:block;}
.slick-prev:before, .slick-next:before { color:#1660ae}

.bank { background:url(../images/dot-green.png) no-repeat center; background-size:cover; height:58px; line-height: 58px; width:155px; padding-left:3.75rem; padding-right:.5rem; border:2px solid #000}
.bank.warning { background-image:url(../images/dot-yellow.png)}
.bank.offline { background-image:url(../images/dot-red.png)}

#maincontent { padding-top:1rem;}

.last-transaction { 
  width:400px;
  margin:0 auto;
  padding:72px 1.5rem 0;
  background:url(../images/deposit.png) no-repeat top center;
  background-size:cover;
  min-height:222px;
  margin-bottom:2rem;
}
.last-transaction.last-deposit { background-image:url(../images/deposit.png)}
.last-transaction.last-withdraw { background-image:url(../images/withdraw.png)}
.last-transaction ul {margin:0; padding:0 2rem;;}
.last-transaction li { display:flex; justify-content: space-between; align-items: center; font-size:1rem; color:#fff; line-height: 1.5;}
.last-transaction li .nominal { color:rgb(1, 218, 1); font-weight: bold;}

.jackpot-container { margin-bottom:3rem;}
.jackpot { text-align: center;}
.jackpot h4 { color:#000; font-size:1.5rem; margin:0; text-transform: uppercase; font-weight: bold;}
.jackpot .jackpot-count { color:#1660ae; font-size:3.5rem; letter-spacing: 5px; font-family: "impact", "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; background:url(../images/jackpot.png) no-repeat center; background-size:cover; height:136px; line-height: 136px; width:360px; overflow: visible; text-align: center}

.panduan-promo { margin:0 5rem;}
.panduan-promo a { display:block; margin:1rem 0; font-size:1.75rem; text-transform: uppercase; font-family: "impact", "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; color:#1660ae; text-align: center; transition:all ease .1s;}
.panduan-promo a:hover, .panduan-promo a:focus { opacity:.8; text-decoration: underline}

.bottom-content { margin-bottom:2rem;}

.contact-info ul { margin:0; padding:0; display:flex; flex-wrap:wrap;}
.contact-info ul li { min-width:40%; color:#222; font-size:.875rem; display:block; white-space: nowrap; margin-bottom:1rem; font-family: "impact";}
.contact-info ul li img { margin-right:.5rem; display:inline-block; vertical-align: middle;}
.contact-info ul li a { color:#000;}
.contact-info ul li a:hover, .contact-info ul li a:focus { text-decoration: underline}

.device-support { margin-top:1.5rem;}
.device-support img { width:100%; display: block;}

#footer { padding:2rem 0;}

.top-footer { text-align:center; color:#000; padding:1.5rem 0; margin-bottom:2rem; border:2px dotted #1660ae; border-width:2px 0;}
.top-footer h1, .top-footer h2, .top-footer h3, .top-footer h4, .top-footer h5, .top-footer h6 { font-size:1rem; color:#1660ae; font-weight:bold;}
.top-footer p { font-size:.875rem; line-height:1.2;}

.alternative-link { color:#1660ae; font-size:.875rem; line-height: 1.4;}
.alternative-link a { text-decoration: underline; color:#000;}
.copyright { color:#1660ae; font-size:.875rem; line-height:1.4; text-align:right;}
